/* Global Stylesheet */

/* Page Container */
.g_Page_Container {

}

/* Header */
.g_Header_Row {

}
/* Navigation */
.g_Nav {

}

.g_Nav_Icon {
    
}

.g_Nav_Links li a:hover{
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.g_Nav_Search {
    margin-left:2em;
}